<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/tyhmeleaf/layout"
	layout:decorator="template1">
<head>
<meta charset="utf-8">
<title>Connexion non autorisée</title>
<!-- <link rel="stylesheet" type="text/css" -->
<!-- 	href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" /> -->
</head>
<body>
	<div layout:fragment="pageContent">
		<div class="container">

				<h3 class="text-danger">Connexion non autorisée !</h3>

</div>
	</div>
</body>
</html>